annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
diskcache==5.6.3
fastapi==0.129.0
h11==0.16.0
idna==3.11
Jinja2==3.1.6
llama_cpp_python==0.3.16
MarkupSafe==3.0.3
numpy==2.4.2
pydantic==2.12.5
pydantic-settings==2.13.0
pydantic_core==2.41.5
python-dotenv==1.2.1
PyYAML==6.0.3
sse-starlette==3.2.0
starlette==0.52.1
starlette-context==0.3.6
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
